In [1]:
from datetime import datetime

import backtrader as bt  # 升级到最新版
import matplotlib.pyplot as plt  # 由于 Backtrader 的问题，此处要求 pip install matplotlib==3.2.2
import akshare as ak  # 升级到最新版
import pandas as pd

plt.rcParams["font.sans-serif"] = ["SimHei"]
plt.rcParams["axes.unicode_minus"] = False

In [2]:
stock_hfq_df = ak.stock_zh_a_hist(symbol="000001", adjust="hfq").iloc[:, :7]

In [3]:
stock_hfq_df

              日期    股票代码       开盘       收盘       最高       最低     成交量
0     1991-04-03  000001    49.00    49.00    49.00    49.00       1
1     1991-04-04  000001    48.76    48.76    48.76    48.76       3
2     1991-04-05  000001    48.52    48.52    48.52    48.52       2
3     1991-04-06  000001    48.28    48.28    48.28    48.28       7
4     1991-04-08  000001    48.04    48.04    48.04    48.04       2
...          ...     ...      ...      ...      ...      ...     ...
8097  2025-02-24  000001  2299.26  2292.76  2309.01  2287.88  949956
8098  2025-02-25  000001  2287.88  2273.25  2291.13  2271.63  917156
8099  2025-02-26  000001  2273.25  2281.38  2294.38  2273.25  841646
8100  2025-02-27  000001  2283.01  2297.63  2299.26  2271.63  977310
8101  2025-02-28  000001  2291.13  2283.01  2307.38  2278.13  949088

[8102 rows x 7 columns]

In [5]:
stock_sse_summary_df = ak.stock_sse_summary()
stock_sse_summary_df

      项目         股票         主板       科创板
0   流通股本   47413.77   45769.12   1644.65
1    总市值  520923.77  450603.09  70320.69
2  平均市盈率      14.07      12.97     44.39
3   上市公司       2282       1697       585
4   上市股票       2321       1736       585
5   流通市值  493065.48  439010.39  54055.09
6   报告时间   20250228   20250228  20250228
8    总股本   49428.48    47197.2   2231.28